In [3]:
import numpy as np
import pandas as pd

In [5]:
data_one = {'A': ['A0','A1', 'A3'], 'B': ['B1', 'B2', 'B3']}
data_two = {'C': ['C0','C1', 'C3'], 'D': ['1D', '2D', '3D']}

In [6]:
one = pd.DataFrame(data_one)
two = pd.DataFrame(data_two)

In [11]:
one

    A   B
0  A0  B1
1  A1  B2
2  A3  B3

In [13]:
two

    C   D
0  C0  1D
1  C1  2D
2  C3  3D

In [18]:
pd.concat([one,two],axis=1)

    A   B   C   D
0  A0  B1  C0  1D
1  A1  B2  C1  2D
2  A3  B3  C3  3D

In [19]:
two.columns = one.columns

In [20]:
two

    A   B
0  C0  1D
1  C1  2D
2  C3  3D

In [22]:
mydf = pd.concat([one,two])

In [23]:
mydf

    A   B
0  A0  B1
1  A1  B2
2  A3  B3
0  C0  1D
1  C1  2D
2  C3  3D

In [28]:
mydf.index = range(len(mydf))

In [29]:
mydf

    A   B
0  A0  B1
1  A1  B2
2  A3  B3
3  C0  1D
4  C1  2D
5  C3  3D

In [31]:
reg = pd.DataFrame({'reg_id': [1,2,4], 'name': ['hisham', 'ihsdfd', 'ihsam']})

In [32]:
log = pd.DataFrame({'log_id': [1,43,3], 'name': ['hisham', 'sdfsdf', 'ihsam']})

In [33]:
log

   log_id    name
0       1  hisham
1      43  sdfsdf
2       3   ihsam

In [34]:
reg

   reg_id    name
0       1  hisham
1       2  ihsdfd
2       4   ihsam

In [37]:
pd.merge(reg,log, how='inner',on='reg_id')

KeyError: 'reg_id'