In [19]:
import numpy as np
import pandas as pd

from datetime import datetime

In [20]:
year = 2013
month = 12
day = 12
hour = 2
mins = 23
sec = 52

In [21]:
mydate = datetime(year,month,day)

In [22]:
mydate

datetime.datetime(2013, 12, 12, 0, 0)

In [23]:

mydate.year

2013

In [26]:
 mydate.day

12

In [37]:
myser = pd.Series(['Nov 3, 1900', '2000-01-04', None])

In [38]:
myser

0    Nov 3, 1900
1     2000-01-04
2           None
dtype: object

In [40]:
timeser = pd.to_datetime(myser)

In [41]:
timeser

0   1900-11-03
1   2000-01-04
2          NaT
dtype: datetime64[ns]

In [43]:
timeser[0].year

1900

In [44]:
euro_date = '31-12-2000'

In [46]:
pd.to_datetime(euro_date, dayfirst=True)

Timestamp('2000-12-31 00:00:00')

In [50]:
style_date = '12--Dec--2000'

In [51]:
pd.to_datetime(style_date,format="%d--%b--%Y")

Timestamp('2000-12-12 00:00:00')