In [125]:
import pandas as pd
import numpy as np
import os

In [126]:
pwd

'D:\\development\\personal\\datascience\\numpy\\Basic_Data_science_lib\\pandas'

In [127]:
df = pd.read_csv('example.csv',header=0,index_col=0)

In [128]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [129]:
url = 'https://en.wikipedia.org/wiki/World_population'

In [130]:
table = pd.read_html(url)

In [131]:
wordl_table =table[4]

In [132]:
len(table)

29

In [133]:
wordl_table.fillna('/')

,Rank,Country / Dependency,Population,Percentage of the world,Date,Source (official or from the United Nations)
0,1,India,1425775850,/,14 Apr 2023,UN projection[92]
1,2,China,1412600000,/,31 Dec 2021,National annual estimate[93]
2,3,United States,335380284,/,7 Sep 2023,National population clock[94]
3,4,Indonesia,275773800,/,1 Jul 2022,National annual estimate[95]
4,5,Pakistan,229488994,/,1 Jul 2022,UN projection[96]
5,6,Nigeria,216746934,/,1 Jul 2022,UN projection[96]
6,7,Brazil,216620561,/,7 Sep 2023,National population clock[97]
7,8,Bangladesh,168220000,/,1 Jul 2020,Annual Population Estimate[98]
8,9,Russia,147190000,/,1 Oct 2021,2021 preliminary census results[99]
9,10,Mexico,128271248,/,31 Mar 2022,/

In [134]:
wordl_table.set_index('Rank')

,Country / Dependency,Population,Percentage of the world,Date,Source (official or from the United Nations)
Rank,,,,,
1,India,1425775850,NaN,14 Apr 2023,UN projection[92]
2,China,1412600000,NaN,31 Dec 2021,National annual estimate[93]
3,United States,335380284,NaN,7 Sep 2023,National population clock[94]
4,Indonesia,275773800,NaN,1 Jul 2022,National annual estimate[95]
5,Pakistan,229488994,NaN,1 Jul 2022,UN projection[96]
6,Nigeria,216746934,NaN,1 Jul 2022,UN projection[96]
7,Brazil,216620561,NaN,7 Sep 2023,National population clock[97]
8,Bangladesh,168220000,NaN,1 Jul 2020,Annual Population Estimate[98]
9,Russia,147190000,NaN,1 Oct 2021,2021 preliminary census results[99]
10,Mexico,128271248,NaN,31 Mar 2022,NaN

In [135]:
wordl_table.columns = ['rank','COuntry', 'Pop', 'percent', 'Date', 'Source']
wordl_table

,rank,COuntry,Pop,percent,Date,Source
0,1,India,1425775850,NaN,14 Apr 2023,UN projection[92]
1,2,China,1412600000,NaN,31 Dec 2021,National annual estimate[93]
2,3,United States,335380284,NaN,7 Sep 2023,National population clock[94]
3,4,Indonesia,275773800,NaN,1 Jul 2022,National annual estimate[95]
4,5,Pakistan,229488994,NaN,1 Jul 2022,UN projection[96]
5,6,Nigeria,216746934,NaN,1 Jul 2022,UN projection[96]
6,7,Brazil,216620561,NaN,7 Sep 2023,National population clock[97]
7,8,Bangladesh,168220000,NaN,1 Jul 2020,Annual Population Estimate[98]
8,9,Russia,147190000,NaN,1 Oct 2021,2021 preliminary census results[99]
9,10,Mexico,128271248,NaN,31 Mar 2022,NaN

In [136]:
wordl_table['Source'].fillna(method='ffill')

0                      UN projection[92]
1           National annual estimate[93]
2          National population clock[94]
3           National annual estimate[95]
4                      UN projection[96]
5                      UN projection[96]
6          National population clock[97]
7         Annual Population Estimate[98]
8    2021 preliminary census results[99]
9    2021 preliminary census results[99]
Name: Source, dtype: object

In [137]:
wordl_table['percent'][0] = '34'
wordl_table['percent'][4] = '243443'
wordl_table['percent'][8] = 'hisham'

C:\Users\User\AppData\Local\Temp\ipykernel_6280\3502041279.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wordl_table['percent'][0] = '34'

In [138]:
wordl_table['percent']

0        34
1       NaN
2       NaN
3       NaN
4    243443
5       NaN
6       NaN
7       NaN
8    hisham
9       NaN
Name: percent, dtype: object

In [139]:
wordl_table['percent'].fillna(method='bfill').fillna('///')

0        34
1    243443
2    243443
3    243443
4    243443
5    hisham
6    hisham
7    hisham
8    hisham
9       ///
Name: percent, dtype: object

In [140]:
table = pd.read_html('https://www.w3schools.com/html/html_tables.asp')

In [141]:
len(table)

2

In [142]:
from sqlalchemy import create_engine

In [143]:
temp_db = create_engine('sqlite:///:memory')

In [146]:
df = pd.DataFrame(data=np.random.randint(low=0,high=100,size=(4,4)), columns=['a','b','c','d'])

In [147]:
df

    a   b   c   d
0  31  47  12  81
1  29  37  85  32
2  14  72  34   0
3  66  93  17  81

In [150]:
df.to_sql(name='new_dftable', con=temp_db)

In [152]:
pd.read_sql(sql="new_dftable", con=temp_db)

In [ ]:
pd.read_sql_query(sql="SELECT a,c FROM new_dftable", con=temp_db)