In [2]:
import pandas as pd
import numpy as np

In [3]:
email = 'hi@gmail.com'

In [7]:
email.split('@')

['hi', 'gmail.com']

In [8]:
names = pd.Series(['hisham', 'bobo', 'andrew', '3'])

In [9]:
names

0    hisham
1      bobo
2    andrew
3         3
dtype: object

In [15]:
names[names.str.startswith('h')]

0    hisham
dtype: object

In [16]:
names.str.isdigit()

0    False
1    False
2    False
3     True
dtype: bool

In [17]:
names[names.str.isdigit()]

3    3
dtype: object

In [19]:
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']

In [20]:
ticker = pd.Series(tech_finance)

In [21]:
ticker

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [24]:
ticker.str.split(',',expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [26]:
messy_names = pd.Series(['Andrew  ', 'bob;bo', '   hisham   '])

In [31]:
messy_names

0        Andrew
1          bob;bo
2       hisham
dtype: object

In [33]:
messy_names.str.replace(';', '').str.replace(' ', '')

0    Andrew
1     bobbo
2    hisham
dtype: object

In [34]:
messy_names.str.replace(';', '').str.strip()

0    Andrew
1     bobbo
2    hisham
dtype: object

In [35]:
def clean(name:str):
    return name.replace(';','').strip()

In [36]:
messy_names = pd.Series(['Andrew  ', 'bob;bo', '   hisham   '])

In [38]:
messy_names.apply(clean)

0    Andrew
1     bobbo
2    hisham
dtype: object