In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
myIndex = ['usa', 'inda', 'uae']

In [6]:
myData = [13,3434,46]
myuser = pd.Series(myData,myIndex)

In [7]:
myuser

usa       13
inda    3434
uae       46
dtype: int64

In [8]:
myuser['usa']

13

In [9]:
ages = {'Sam': 5, "frank": 34}

In [10]:
ag = pd.Series(ages)

In [11]:
ages['frank']

34

In [12]:
q1 = {'Japan': 80, "China": 23, "India": 33}
q2 = {'Brazil': 10, "China": 13, "India": 233}

In [13]:
sales_q1 = pd.Series(q1)

In [14]:
sales_q2 = pd.Series(q2)

In [15]:
sales_q1

Japan    80
China    23
India    33
dtype: int64

In [16]:
sales_q2

Brazil     10
China      13
India     233
dtype: int64

In [17]:
sales_q1['China']

23

In [18]:
sales_q1.keys()

Index(['Japan', 'China', 'India'], dtype='object')

In [19]:
np.array([1,3]) * 4

array([ 4, 12])

In [20]:
sales_q1 * 2

Japan    160
China     46
India     66
dtype: int64

In [21]:
sales_q1 + sales_q2

Brazil      NaN
China      36.0
India     266.0
Japan       NaN
dtype: float64

In [31]:
first_half = sales_q1.add(sales_q2,fill_value=0)

In [29]:
sales_q1.dtype

dtype('int64')

In [32]:
first_half.dtype

dtype('float64')