In [1]:
import pandas as pd

In [4]:
import numpy as np

<IntegerArray>
[3, 5]
Length: 2, dtype: Int64

In [5]:
myIndex = ['usa', 'inda', 'uae']

In [19]:
myData = [13,3434,46]
myuser = pd.Series(myData,myIndex)

In [13]:
myuser

usa       13
inda    3434
uae       46
dtype: int64

In [18]:
myuser['usa']

13

In [20]:
ages = {'Sam': 5, "frank": 34}

In [21]:
pd.Series(ages)

Sam       5
frank    34
dtype: int64